.order{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 20px;
    background-color: #202124;
    
}
.sub{
    display: flex;
    align-items: center;
    margin-top: -17px;
}

h4{
    color: #fff;
}
